<div class="pagination">

    <!-- Previous page link -->
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number ">
                Previous
            </a>
        {% endif %}
    </span>

    <!-- shows the current page number -->
    <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}.
    </span>

    <!-- Next page link -->
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">
            Next
        </a>
    {% endif %}


</div>