{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>
        {{ post.title }}
    </h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <!-- linebreaks attribute means that before body
     txt break line will be pasted -->
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url "blog:post_share" post.id %}">
        Share this post
        </a>
    </p>
    {% include "pagination.html" with page=page_obj %}

{% endblock %}
