{% load static %}
<!-- similar to import, needed to include by own custom tags -->
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My offers</h2>
        <p>Here is my offers(total: {% total_posts %}) that I'm trying to sell</p>
        <h3>Latest posts</h3>
        <!-- using template tag to show 3 latest post: -->
        {% show_latest_posts 3 %}
    </div>
</body>
</html>